<div class="invites-received mt-4">
    <h5 class="text-warning">Pending invites: </h5>
    <% if user.invites_received.empty? %>
        <p class="text-muted">Empty!</p>
    <% else %>
        <ul class="list-group">
            <% user.invites_received.each do |invite| %>
                <%= link_to invite.event, class: "text-decoration-none event-link" do %>
                    <li class="list-group-item miniature-event m-1">
                        <p class="text-muted">Event</p>
                        <h6 class="text-truncate"> <%= invite.event.name %></h6>
                    </li>
                <% end %>
            <% end %>
        </ul>
    <% end %>
</div>
