<div class="profile-heading text-center">
    <h1> <%= @user.name %>'s Profile </h1>
    <% if @user == current_user %>
        <div class="edit-profile text-center">
            <%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-primary" %>
        </div>
    <% end %>
</div>

<div class="user-events">
    <%= render "events/events", events: @user.events %>
</div>