<div class="attendees">
    <h2>Current Attendees (<%= attendees.count %>) </h2>
    <% if attendees.empty? %>
        <p class="text-muted">Be the first person to attend!</p>
    <% end %>
    <div class="list-group">
        <% attendees.each do |attendee| %>
            <%= link_to attendee.name, attendee, class: "list-group-item"%>
        <% end %>
    </div>
</div>