<% unless events.empty? %>
    <div class="container-fluid d-flex flex-wrap justify-content-center">
        <% events.each do |event| %>
            <%= render "events/event", event: event %>
        <% end %>
    </div>
<% else %>
    <p class="text-muted text-center">None.</p>
<% end %>