body{
    overflow: hidden;
    height: 100vh;
}

main{
    overflow-y: auto;
    width: 100%;
}

aside{
    flex: 0 0 10%;
}

.wrapper{
    display: flex;
    height: 100%;
}

h1{
    text-align: center;
}

.invite-users-tab{
    max-height: 10rem;
}

.invite-users-tab .list-group{
    overflow: auto;
}

.miniature-event{
    max-width: 9em;
}

.invites-received .list-group{
    overflow: auto;
    height: 6rem;
    width: 100%;
}